.ModalCalc {
  top: 30px;
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgb(173, 173, 173);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 900;
}
.ModalCalc-closeIcon-wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ModalCalc-closeIcon {
  width: 30px;
  height: 30px;
}
.ModalCalc-content-wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.ModalCalc-details-content-wrapper {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}

.ModalCalc-details-content-span-game-wrapper {
  text-decoration: underline;
}
.ModalCalc-details-content-span-bet-wrapper {
  color: green;
}
/* CALC -------------------*/
.ModalCalc-odd-calc-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.ModalCalc-odd-calc-input {
  width: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.ModalCalc-odd-calc-stake {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  gap: 5px;
}

.ModalCalc-odd-back-stake,
.ModalCalc-odd-lay-stake {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.ModalCalc-odd-back-stake {
  background-color: rgb(117, 199, 247);
}
.ModalCalc-odd-lay-stake {
  background-color: rgb(232, 133, 245);
}
